body, html, #wrapper{
    height:100%;
}
h2{
    margin: 0 7px 7px 0;
}

#map{
    height: calc(50vh);
}

#customDeleteButton:hover{
     background-color: #f4f4f4;
}

/*+++++++++++++++++++ Left and Right Panels ++++++++++++++++++++++*/

#leftPanel{
    width:30%;
    float: left;
    
}
#rightPanel{
    width:69.5%;
    float: right;
    display: inline-block;
    
}

@media only screen and (max-width: 925px) {
  /* Tablet view and smaller: one column layout*/
    #rightPanel{
        display: block; 
        float: left;
        width: 100%;
        overflow: scroll;
       margin-top: 10px;
    }
    #leftPanel{
        width: 100%;
    }
    #largeChevron{
        display: none;
    }
    
} /*end media query*/

@media only screen and (min-width: 1333px) {

  
    /*would prefer instead to allow the map to continue to expand...*/
}


/*=============== Filters ===============*/
.block{
    display: block;
}

#filters {
    padding-bottom: 10px;
    position: relative;
    max-width: 400px;
}

.filter{
    overflow: hidden; /*keeps the inputs from being pushed outside the div*/
    display: block;
    vertical-align: top;
    margin: 5px 8px 0 0;
    
}
.filter input {
    float: right;
}


#largeChevron{
    position: absolute; 
    top: 15px; 
    right:0;
}

#filterFeedback{
    display: block;
    width: 100%;
}

#filterFeedback span{
   background-color: #e6e6e6;
    cursor: pointer;
    padding: 0px 3px;
    border-radius: 4px;
    margin: 1px 3px;
    display: inline-block;
}

#filterFeedback img {
    height: 21px; 
    margin-bottom: -5px;
    
}
/*------------------------ Results List ----------------------*/
#resultsPanel{
    clear: both;
}
/*
#viewOptions{
    padding: 5px 0 10px 0;
}*/

.switchView{
    display: inline-block;
    padding: 0 5px 0 0;
}

.switchView img {
    margin-right: 3px;
}
.switchView p{
    vertical-align: top;
}
.switchView a {
    text-decoration: none;
}

.sampleChevron{
    position:absolute; 
    top:50%; 
    right: 0px; 
    transform: translateY(-50%);
}
/*============ results tabs ==========*/
/* adapted from https://codepen.io/oknoblich/pen/tfjFl */

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
#resultsPanel input {
  display: none;
}

#resultsPanel label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 5px 10px;
  font-weight: 400;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

#resultsPanel label:hover {
  color: #888;
  cursor: pointer;
}

#resultsPanel input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid grey;
  border-bottom: 1px solid #fff; 
}

/* tabs and their content divs must have exactly the same parent div in html */
/* ~ is a general sibling selector. */
#resultsPanel #tab1:checked ~ #tab1content, 
#resultsPanel #tab2:checked ~ #tab2content {
  display: block;
}

/*++++++++++++++++++ RESULTS TABLE +++++++++++++++++++++*/
#resultsTable{
    width: 100%;
    border-collapse: collapse;
    overflow-x:auto;
}

#resultsTable thead td{
    background-color: #e6e6e6;
    border-left: solid 1px white;
    border-right: solid 1px white;
}

#resultsTable tr{
    
    border-bottom: 0.5px solid lightgrey;
}

#resultsTableBody tr:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

#resultsTable td{
   /* width: 16.67%; */
    padding: 3px 10px 1px 3px;
}