body, html, #wrapper{
    height:100%;
    margin: 0px;
}
h2{
    margin: 0 7px 7px 0;
}

p{ padding: 0; margin: 0;}

#map{
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0%;
}

#mapHeader{
  position: absolute;
  width: 100%;
  height: 35px;
  top: 0px;
}

.topNav{
  position: absolute;
  top: 0px;
  width: 25%;
  height: 30px;
  z-index: 1500;
  /*background-color: rgba(0,0,0,0.2);*/
  text-align: center;
  background: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
}
.topNav:hover{
  background-color: rgba(0,0,0,0.5);
}

#homeNav{
  left: 0%;
  border-right: 1px solid #6d6d6d;
}
#collectionNav{
  left: 25%;
  border-right: 1px solid #6d6d6d;
}
#aboutNav{
  left: 50%;
  border-right: 1px solid #6d6d6d;
}
#contactNav{
  left: 75%;
}

p.navText{
  font-size: 16px;
}

#loading{
  width:100%;
  height:100%;
  position: absolute;
  z-index: 500;
  background-image: url("images/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity:0.7;
}


/*********** popup *******/

.leaflet-popup-content{
  max-width: 200px;
  max-height: 200px;
  overflow-x: hidden;

}

.leaflet-popup-content ul{
  list-style: none;
    padding: 0;
}

.leaflet-popup-content li:nth-child(even){
  background-color: #f2f2f2;
}

/*---- Leaflet Draw ----*/
.leaflet-draw-tooltip{
    background-color: black; 
    color: white;
}

#mapSelectionButtonsContainer{
    display: inline-block;
    margin: 5px 8px 0 0;
    
}
.mapSelectionButton {
    margin-bottom: 5px;
    padding: 3px;
   /* color: grey; */
    
}

.mapSelectionButton:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.mapSelectionButton img {
    vertical-align: middle;
    padding-right: 3px;
    width: 24px;
    height: 24px;    
}
.mapSelectionButton.active {
    background-color: #f4f4f4;
    border: 1px solid grey;
    
}

/*+++++++++++++++++++ Left and Right Panels ++++++++++++++++++++++*/

#leftPanel{
    width:30%;
    float: left;
    position: absolute;
    top: 33px;
    left: 3px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.3)
    
}

.outterFilterBox{
  background-color: #e2e2e2;
  margin: 2px;
}

.filtersTitle{
  background-color: #b74226;
}

@media only screen and (max-width: 925px) {
  /* Tablet view and smaller: one column layout*/
    #rightPanel{
        display: block; 
        float: left;
        width: 100%;
        overflow: scroll;
       margin-top: 10px;
    }
    #leftPanel{
        width: 100%;
    }
    #largeChevron{
        display: none;
    }
    
} /*end media query*/

@media only screen and (min-width: 1333px) {

  
    /*would prefer instead to allow the map to continue to expand...*/
}


/*=============== Filters ===============*/
.block{
    display: block;
}

#filters {
    padding: 5px;
    position: relative;
    max-width: 350px;
}
#filters h2{
    display: inline;
}

.filter{
    overflow: hidden; /*keeps the inputs from being pushed outside the div*/
    display: block;
    vertical-align: top;
    margin: 5px 8px 0 0;
    
}
.filter input {
    float: right;
}


#largeChevron{
    position: absolute; 
    top: 15px; 
    right:0;
}

#filterFeedback{
    display: block;
    width: 100%;
    padding: 5px 0;
}

#filterFeedback span{
   background-color: #e6e6e6;
    cursor: pointer;
    padding: 0px 3px;
    border-radius: 4px;
    margin: 1px 3px;
    display: inline-block;
}

#filterFeedback img {
    height: 21px; 
    margin-bottom: -5px;
    
}
/*------------------------ Results List ----------------------*/
#resultsTitle{
  background-color: #b74226;
  position: absolute;
  top: 70%;
  width: 100%;
  height: 5%;
  margin-bottom: 5px;
  z-index: 1800;
  box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.4)
}

#resultsPanel{
    /*clear: both;*/
    /*padding-top: 20px;*/
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0%;
    overflow: scroll;
    z-index: 2000;
    background-color: #fff;
}

/*
#viewOptions{
    padding: 5px 0 10px 0;
}*/

.switchView{
    display: inline-block;
    padding: 0 5px 0 0;
}

.switchView img {
    margin-right: 3px;
}
.switchView p{
    vertical-align: top;
}
.switchView a {
    text-decoration: none;
}

.sampleChevron{
    position:absolute; 
    top:50%; 
    right: 0px; 
    transform: translateY(-50%);
}
/*============ results tabs ==========*/
/* adapted from https://codepen.io/oknoblich/pen/tfjFl */

#resultsHeader{
    padding-bottom: 10px;
    
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
#resultsPanel input {
  display: none;
}

#resultsPanel label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 5px 10px;
  font-weight: 400;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

#resultsPanel label:hover {
  color: #888;
  cursor: pointer;
}

#resultsPanel input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  /*border-top: 2px solid grey;*/
  border-bottom: 1px solid #fff;
}
#tab1content{
    display: block;
    
}
/* tabs and their content divs must have exactly the same parent div in html */
/* ~ is a general sibling selector. */
#resultsPanel #tab1:checked ~ #tab1content, 
#resultsPanel #tab2:checked ~ #tab2content {
  display: block;
}

/*++++++++++++++++++ RESULTS TABLE +++++++++++++++++++++*/

/*download button*/

a.export{
  display: inline-block;
  text-decoration: none;
  border: 1px solid #e6e6e6;
  padding: 1px 6px 1px 1px;
 /* color: #000;
  background-color: #ddd;
    */
}
/*
,
a.export:visited {

}

 #downloadButtonContainer{
  position: relative;
  top:0;
  right:0;
}
*/
#downloadButtonContainer{
    margin-left: 10px; 
    
}
a.export:hover{
    background-color: #f4f4f4;
    cursor: pointer;
    border: 1px solid #ccc;
}
#downloadButtonContainer img {
    vertical-align: middle;
    height: 24px;
    width: 24px;
}


#resultsTable {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  overflow-y: scroll;
}

#resultsTable thead td{
    background-color: #e6e6e6;
    border-left: solid 1px white;
    border-right: solid 1px white;
    vertical-align: bottom;
}

#resultsTable tr{
    
    border-bottom: 0.5px solid lightgrey;
}
/*
#resultsTableBody .detailsLink:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}
*/
#resultsTable td{
   /* width: 16.67%; */
    padding: 3px 10px 1px 3px;
}