/*=============From general============*/
.modalBackground {
   /* display: none; */   /* Hidden by default */
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top. This number puts the modal on top of leaflet classes .leaflet-top and .leaflet-bottom, which have a z-index of 1000 */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
    background-color: #fefefe; /* very light grey */
    margin: 10px auto 0 auto; /* centered */
    padding: 10px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 1000px;
}

#modal-content h2{
    margin-top: 0;
    margin-bottom: 5px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*=======================*/




    /*====== Outlines for troubleshooting ========*/
/*  #topSection{
       border: solid 1px green;
    }
     #sliderContainer{
          border: solid 1px red;
    }
    #sampleLink{
        border: solid 1px orange;
    }
    #photo{
         border: solid 1px purple;
    }
*/
    
    /*++++++++++++ sample link ++++++++++++++*/
    #sampleLink{
        float: right;
        position: relative; /*to keep the absolute-positioned chevron within this element*/
        padding: 3px 17px 3px 3px; /* padding and spacing for the chevron image */
        margin: 0 0 5px 0; /* margin at the bottom */
        text-align: center;  
        width: 195px; /* fixed-width until it goes to 100% at 550px and below */
    }

    #sampleLink:hover{
        background-color:  #e6e6e6;
        cursor: pointer;
    }


   .sampleChevron{
       /* position completely right and vertically centered */
        position:absolute; 
        top:50%; 
        right: 0px; 
        transform: translateY(-50%);
    }


    /*======== Slider style =========*/
    #sliderContainer{
        /* 100 minus the fixed width taken up by the link */
        width: calc(100% - 230px);
    }

    #slider { 
        display: inline-block;
        height: 14px;
        width: calc(100% - 92px); 
        margin: 20px 15px;
        vertical-align: middle;
    }
    #modal-content .ui-corner-all{
        border-radius: 10px;
    }
    #modal-content .ui-slider .ui-slider-handle {
        width: 20px;
        height: 20px;
    }

    #sliderContainer label {
        display: inline-block; 
    }

    #photo {
        position:relative;
        width: 100%;
        height: 500px;
    }


    @media only screen and (max-width : 550px) {
        #sliderContainer{
            width:100%;
        }
        #sampleLink{
            width:100%;
            padding: 3px 0;
            margin:0;
        }


    }

/* if we are already on a sample page, don't show the sample link. */
#sampleLink {
    display: none;
}
