
/* outline divs */
/*#sampleRecord div {
    border-color: black;
    border-width: thin;
    border-style: dashed;
}*/

a {
    color: #18846f;
}

/*.green {
    color: #18846f;
}*/

#leftPanel{
    width:66.3%;
    float: left;
}
#rightPanel{
    width:33%;
    float: right;
    display: inline-block;
    
}
#searchArea{
    text-align: center;
    padding: 25px 0px;
}

.reportDivision{
    padding-top: 20px;
}
.divisionContent{
    border-top: 1px solid #e6e6e6;
    padding-top: 4px;
}
.detailsDiv{
    display: inline-block; 
    vertical-align: top;
}

.attributeLabel{ /*first column in the sample record table*/
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
}

#sampleRecord h3, h2{
    margin: 0;
}


#sampleRecord p {
    display: block;
    margin: 3px 0;
}

.reportDivision img{
    padding-right: 8px;
    height: 200px;
}

#sampleRecord .thinSectionContainer{
    display: inline-block;
    margin-right: 10px;
}
#sampleRecord .thinSection{
    display: inline-block;
}
#sampleRecord .thinSection:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

#sampleRecord .thinSection img{
    width: 300px;
}
#allData table{
     border-collapse: collapse;
    overflow-x:auto;
}

#allData td{
    border: 0.5px solid gray;
    padding: 3px;
    
    
}
#allData tr:nth-child(even){background-color: #f2f2f2;}